apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
spec:
  template:
    spec:
      containers:
        - name: api
          env:
            - name: ENV
              value: development
